body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #fdd238;
}

.subtitle {
    font-family: "Franklin Gothic";
    font-size: large;
}

h3 {
    font-size: 22px
}

p {
    font-size: 15px;
    text-align: left;
}

.centered {
    text-align: center;
}

.initial-screen, .container {
    text-align: center;
    width: 100%;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}

#graph-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 10px solid #de9800;
    border-radius: 1.5rem;
    background-color: #fff;
    margin: 0 auto;
}

#graphCanvas {
    width: 100%;
    height: 100%;
}

#controls {
    margin-top: 20px;
}

button {
    font-family: 'Franklin Gothic Medium', 'ITC Franklin Gothic';
    margin: 0 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 150px;
    border: none;
    background-color: #5d5d5d;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    display: inline;
    margin-right: 5px;
}

#start-btn {
    background-color: #5f8444;
}

#done-btn {
    background-color: #de9800;
}

button:hover {
    background-color: #3f3f3f;
    transform:  translateY(-4px);
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

#how-to-play-btn {
    background-color: #de9800;
}

.modal {
    display: none;
    position: fixed;
    align-self: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffd332;
}
  
.modal-content {
    background-color: #ffffff;
    margin: 8% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 10px solid #de9800;
    width: 40%;
    border-radius: 1.5rem;
    align-items: center;
}
  
.close {
    color: #636363;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}