body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #fdd238;
}

.subtitle {
    font-family: "Franklin Gothic";
    font-size: large;
}

.initial-screen, .container {
    text-align: center;
    width: 100%;
}

.initial-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.container {
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

#graph-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 10px solid #de9800;
    border-radius: 1.5rem;
    background-color: #fff;
    margin: 0 auto;
}

#graphCanvas {
    width: 100%;
    height: 100%;
}

#controls {
    margin-top: 20px;
}

button {
    font-family: 'Franklin Gothic Medium', 'ITC Franklin Gothic';
    margin: 0 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 150px;
    border: none;
    background-color: #5d5d5d;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    display: inline;
    margin-right: 5px;
}

#done-btn {
    background-color: #cd7b00;
}

button:hover {
    background-color: #3f3f3f;
    transform:  translateY(-4px);
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}