body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'Arial', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffd332;
}

.header {
    margin-bottom: 20px;
}


button {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', 'Arial', 'sans-serif';
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500px;
    border: none;
    background-color: #929292;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8%;
}

button:hover {
    background-color: #393939;
}