body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #fdd238;
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.subtitle {
    font-family: "Franklin Gothic";
    font-size: large;
}

button {
    font-family: 'Franklin Gothic Medium', 'ITC Franklin Gothic';
    margin: 0 5px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 150px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 1.5rem;
    display: inline;
    margin-right: 5px;
}

button:hover {
    transform:  translateY(-5px);
}

#play-btn {
    background-color: #1f1f1f;
}

#how-to-play-btn {
    background-color: #fea50b;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: #ffd332; /* Black w/ opacity */
}
  
.modal-content {
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #ffcc15;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
.close {
    color: #636363;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}