body {
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic';
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #fdd238;
}

.subtitle {
    font-family: "Franklin Gothic";
    font-size: large;
}

h1 {
    font-size: 25px;
}
  
h2 {
    font-size: 35px;
}

h3 {
    font-size: 22px
}

#back-btn {
    background-color: #5d5d5d;
    padding: 12px 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'ITC Franklin Gothic';
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
}

#back-btn:hover {
    background-color: #3f3f3f;
    transform:  translateY(-4px);
}